*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.2, 0, 0.38, 1);
}
body{
    position: relative;
    background-color: #fafafa;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 2.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    box-shadow: 0px 7px 10px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1.5px solid #6968bd;
}
.container header{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    font-weight: 700;
    margin-bottom: 1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #6968bd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.container header i{
    color: #e8ddd5;
    font-size: 3.6rem;
}
.container h1{
    padding: 1rem;
    font-weight: 700;
    font-size: 3rem;
    color: #6968bd;
}
.container form{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.container form .input-field{
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form .input-field input{
    width: 5rem;
    height: 5rem;
    padding: .8rem;
    border: 1px solid #6968bd;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    outline: none;
    text-align: center;
    margin-right: 1rem;
    font-size: 1.6rem;
}
.input-field input::-webkit-inner-spin-button, .input-field input::-webkit-outer-spin-button{
    display: none;
}
form button{
    padding: 1.5rem;
    background-color: #8e8dc1;
    color: #fafafa;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size: 1.5rem;
    pointer-events: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
form button .active{
    pointer-events: auto;
    background-color: #6968bd;
}
